@font-face {
  font-family: "NovaRound-Regular";
  src: url("./assets/fonts/NovaRound-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("./assets/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("./assets/fonts/Comfortaa-Bold.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa-Regular";
}

html {
  background-color: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Comfortaa-Regular" "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: black;
  --nav-size: 56px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
