.movies-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  color: white;
  align-content: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.posters-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #4b4545;
  width: 80%;
  height: 100%;
  padding: 25px 25px;
  border: 1px solid#e99f30;
}

.poster-container {
  border: 1px solid#e99f30;
  width: 300px;
  height: 450px;
  overflow: hidden;
  background-color: black;
  margin: 8px 10px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  /* background-image: url(../img/poster1.jpg); */
}

.poster-img {
  width: 90%;
  height: 90%;
}

.poster-hover {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 159, 48, 0.7);
  animation: appear 1s ease forwards;
  -webkit-animation: appear 1s ease forwards;
}

.poster-hover::-webkit-scrollbar {
  display: none;
}

.poster-leave {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 159, 48, 0.7);
  animation: disappear 1s ease forwards;
  -webkit-animation: disappear 1s ease forwards;
}

.poster-leave::-webkit-scrollbar {
  display: none;
}

.list-of-details {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  color: black;
}

.list-of-details li {
  display: flex;
}

.list-of-details li h5 {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

.list-of-details li h6 {
  font-size: 18px;
}

.button-view-detail {
  background: transparent;
  font-size: 23px;
  font-weight: bold;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid black;
}

.button-view-detail:hover {
  background-color: white;
}

.button-view-detail:focus {
  outline: none;
}

@keyframes appear {
  0% {
    transform: translateY(-450px);
    -webkit-transform: translateY(-450px);
    -moz-transform: translateY(-450px);
    -ms-transform: translateY(-450px);
    -o-transform: translateY(-450px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@keyframes disappear {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  100% {
    transform: translateY(-450px);
    -webkit-transform: translateY(-450px);
    -moz-transform: translateY(-450px);
    -ms-transform: translateY(-450px);
    -o-transform: translateY(-450px);
  }
}
