nav ul li.nav-title a {
  text-decoration: none;
  color: inherit;
}

nav ul li.nav-link-right a {
  text-decoration: none;
  color: inherit;
}

nav ul li.nav-link-right a:hover {
  color: #e99f30;
}

.navbar-wrapper {
  position: fixed;
  height: var(--nav-size);
  z-index: 1;
  width: 100%;
  padding: 0 1rem;
  background-color: #4b4545;
  border-bottom: 1px solid#e99f30;
  color: white;
}

.navbar-nav-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link-right {
  font-size: 23px;
  padding-top: 2px;
  margin: 10px;
  font-family: "Comfortaa-Regular";
}

.nav-title {
  font-size: 35px;
  padding: 0 10px;
  margin-right: 10px;
  flex: 1;
}

.nav-title a span {
  font-family: "NovaRound-Regular";
}

.drop-hamburger {
  font-family: "Comfortaa-Regular";
  background-color: #4b4545;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 70px;
  width: 200px;
  border: 4px solid #e99f30;
  box-shadow: 0 1px 2px 1px #dedad5;
  padding: 0.5rem 0.3rem;
  overflow: hidden;
  transform: translateX(-75%);
  -webkit-transform: translateX(-75%);
  -moz-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
}

.menu-item {
  height: 50px;
  width: 100%;
  font-size: 25px;
  padding: 0.5rem;
  color: inherit;
}

.menu-item:hover {
  background-color: rgba(233, 159, 48, 0.2);
}

.nav-link-right-dropdown {
  display: none;
}

.nav-searchbox {
  font-family: "Comfortaa-Regular";
  display: flex;
  flex: 4;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.nav-searchbox form {
  width: 100%;
  height: 100%;
  margin-top: 26px;
  display: flex;
  flex-wrap: nowrap;
}

.nav-searchbox input {
  font-size: 25px;
  width: 65%;
  outline: none;
  border: none;
  padding: 0px 0px 0px 6px;
  height: 60%;
}

.nav-searchbox input:focus {
  border: 2px solid;
  border-color: #e99f30;
}

.nav-searchbox button {
  position: relative;
  height: 60%;
  color: black;
  background-color: #e99f30;
  border: none;
  border-left: 2px solid black;
  outline: none;
  padding: 4px 25px 3px 25px;
  font-size: 25px;
  font-weight: bold;
}

.nav-searchbox button:hover {
  background-color: rgba(233, 159, 48, 0.7);
}

@media screen and (max-width: 1181px) {
  .nav-link-right {
    display: none;
  }
  .nav-link-right-dropdown {
    display: block;
  }

  .nav-link-right-dropdown div a.menu-item {
    text-decoration: none;
  }

  .nav-link-right-dropdown div a.menu-item:hover {
    color: #e99f30;
  }
}
