.orderbox-wrapper {
  position: relative;
  display: flex;
  top: 120px;
  width: 100%;
  height: auto;
  color: white;
  align-content: center;
  justify-content: center;
  margin-bottom: 150px;
}

.list-of-objects {
  background-color: #4b4545;
  border: 1px solid#e99f30;
  width: 80%;
  height: 100%;
  align-items: center;
  margin-bottom: 0px;
  padding: 1px 25px 0px 25px;
}

.orderbar-list-buttons {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.orderbar-title {
  align-self: center;
  margin-right: 25px;
  font-size: 30px;
  margin-bottom: 0px;
}

.orderbar-button {
  width: 150px;
  padding: 7px 5px 5px 5px;
  margin: 12px 12px 10px 10px;
  font-size: 18px;
  background-color: #e99f30;
  border: 1px solid black;
  color: white;
  font-weight: bold;
}

.orderbar-button:hover {
  background-color: rgba(233, 159, 48, 0.7);
}
